body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 90px;
  text-align: center; /* Pusatkan teks */
  box-sizing: border-box;
  z-index: 1;
  display: flex; /* Gunakan flexbox untuk mengatur elemen-elemen menu */
  align-items: center; /* Pusatkan elemen-elemen secara vertikal */
  justify-content: flex-start; /* Letakkan elemen-elemen menu di sisi kiri dan kanan */
}

nav div {
  display: inline-block;
  color: white;
  margin: 0 30px;
  cursor: pointer;
}

nav .Akun img {
  background-color: white;
  border-radius: 50%;
}

 a {
    color: inherit;
    text-decoration: none;
  }

  .pic {
    margin: 0; /* Hapus margin bawaan */
    position: relative; /* Tetapkan posisi relatif */
    overflow: hidden; /* Sembunyikan overflow untuk memastikan gambar tidak terlihat di luar figure */
  }
  
  figure img {
    width: 100%; /* Gambar akan mengisi lebar figure */
    height: auto; /* Menjaga aspek rasio gambar */
    display: block; /* Membuat gambar sebagai blok untuk menangani margin */
  }
  
  main h1 {
    text-align: start;
    padding-left: 12% ;
  }
  
   Main p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;  
    padding-left: 12%;
    padding-right: 12%;
  } 

  #search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .search-container {
    position: relative; /* Tambahkan properti positioning */
    display: inline-block; /* Gunakan inline-block agar elemen tidak merata ke bawah */
  }
  
  #search-results {
    position: absolute; /* Gunakan absolute positioning untuk elemen hasil pencarian */
    top: 100%; /* Atur jarak dari atas elemen utama (search-container) */
    left: 20px; /* Tempatkan elemen hasil pencarian ke kiri */
    z-index: 2; /* Tambahkan z-index yang lebih tinggi */
    color: black;
    background-color: white; /* Atur warna latar belakang elemen hasil pencarian */
    border: 1px solid #ccc; /* Tambahkan border untuk memberikan tampilan lebih baik */
    list-style: none; /* Hapus bullet points pada hasil pencarian */
    padding: 5px;
    margin: 0; /* Hapus margin untuk tata letak yang bersih */
    border-radius: 5px;
    width: 80%;
  }
  
.informasidetail {
    text-align: center;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: #4383FF;
    padding: 20px;
    margin-left: 12%;
    margin-right: 12%;
    border-radius: 10px;
}

.add-rating{
    background-color: #4383FF;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    width: 20%;
    padding: 20px;
    margin-top: 10px;
    margin-left: 12%;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.add-rating a{
    color: inherit;
    text-decoration: none;
}

#ulasan {
  text-align: start;
  margin-left: 12%;
  margin-right: 12%;
  padding: 30px;
  border-radius: 10px;
  background-color: #cccccc61;  
}