body {
    margin: 0;
}
.container {
    display: flex;
    padding:0;
    margin: 0;
    height: 100%;
}
.left-side {
    width: 35%;
    background-color: #C7A4EA;
    padding: 0px;
    margin: 0;
    height: 100vh;
}

.right-side {
    width: 65%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text {
    position: absolute;
    top: 10px;
    right: 30px;
}

input[type="text"],input[type="password"] {
    background-color: rgba(0,0,0,.1);
    border: none;
    height: 25px;
}
input[type="text"],input[type="password"]:focus {
    outline: none;
}

.fpass {
    text-align: right;

}

.fpass a {
    font-size: 12px;
    color: #8000ff;
    text-decoration: none;
}
.title-form {
    padding-bottom:10px;
    border-bottom: 1px solid gray;
}
#idklik {
    background-color: #5EA8FF;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    border-radius: 8px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}
#idklik:focus {
    outline: none;
}
.l-desc {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    padding: 40px;
    margin-top: 100px;
}
.right-pic {
    width: 100%;
}